@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  overflow-x: hidden;
  font-size: 16px;
}

* {
  font-family: "Product Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  color: #fff;
  background-color: #181818;
}

.home {
  color: #fff;
  background-color: #181818;
}

.watch--x {
  overflow-y: auto;
}

.bg-gray {
  background-color: gray !important;
}

@font-face {
  font-family: "Product Sans";
  font-weight: 500;
  src: local("Product Sans"),
    url(./fonts/Product\ Sans\ Regular.ttf) format("truetype");
}
